div(ng-controller="FormController")
	input(type="text",ng-model="user.name.first",required,placeholder="Firstname")
	br
	input(type="text",ng-model="user.name.last",required,placeholder="Lastname")
	br
	input(type="text",ng-model="user.username",required,placeholder="Username")
	br
	input(type="text",ng-model="user.email",required,placeholder="Email")
	br
	input(type="text",ng-model="user.cemail",required,placeholder="Confirm Email")
	br
	input(type="text",ng-model="user.password",required,placeholder="Password")
	br
	input(type="text",ng-model="user.cpassword",required,placeholder="Confirm Password")
	br
	input(id="user_register",type="button",value="Register Now")