<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body class="<%= pagename %>">

        <header>
            <div class="container-fluid">
            	<% if ( typeof(user) != 'undefined' ) { %>
				<div class="back button">Back</div>   
				<% } %>      
                <div id="branding" class="aligncenter">
                	<h1 class="light no-margin">LineSocial</h1>
                </div>
                </button>
            </div>
        </header>
