<% include header %>

  <div class="container hero-unit">
      <form method="post" action="/login" class="form-horizontal form-skin">
        <div class="control-group">
          <div class="controls">
            <input type="text" id="inputEmail" name="email" placeholder="Email">
          </div>
        </div>
        <div class="control-group">
          <div class="controls">
            <input type="password" id="inputPassword" name="password" placeholder="Password">
          </div>
        </div>
        <div class="control-group">      
          <div class="controls">
	          <table>
		          <tr class="on_off">
					<th><label for="on_off">Remember Me:</label></th>
					  <td>
					  <label class="on_off">
					    <input type="checkbox" id="on_off" />
					    </label>
					  </td>
					</tr>
			  </table>
            <button type="submit" class="register">Sign in</button>
            <p></p>
            <a href="/register"><button id="register" type="button" class="btn btn-flat btn-blue no-radius">register here</button></a>
          </div>
        </div>
      </form>
  </div>
  

<%include footer %>
