extends layout

block body
  div(ng-controller='AppCtrl')
    input(type="email",ng-model="user.email",required,placeholder="Email")
    br
    input(type="password",ng-model="user.password",required,placeholder="Password")
    br
    hr
    p debug view
    pre user={{user | json}}
    button login    
    br
    a(href='register') 
      button register
    div(ng-view)

  include footer  


  